# Node modules
node_modules/

# Environment variables
.env
config.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Debugging / IDE files
.vscode/
.idea/
*.swp

# Coverage reports
coverage/

# Build / cache
dist/
build/
.cache/

# Optional lock files (if you don’t want them in git)
# package-lock.json
# yarn.lock
